:host {

}
.menu-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 10px;
    transition-duration: 0.5s;
    &.open {
        transform: translate(150px, 0);
    }
    .bar {
        width: 100%;
        height: 3px;
        border-radius: 30%;
        background-color: black;
        margin: 6px 0;
    }
}
.menu-container {
    position: absolute;
    height: 100%;
    width: 200px;
    padding-top: 50px;
    background-color: #fff;
    border: 2px solid darkgreen;
    transition-duration: 0.5s;
    box-sizing: border-box;
    transform: translate(-200px, 0);
    &.open {
        transform: translate(0, 0);
    }
    .menu-section {
        border-top: 2px solid darkgreen;
        padding: 5px 0;
        .menu-item {
            button {
                height: 30px;
                width: 100%;
            }
        }
    }
}
