<div class="menu-container" [ngClass]="{'open': menuOpen}">
    <div class="menu-section">
        <div class="menu-item">
            <button [routerLink]="'/join'">Join Server</button>
        </div>
    </div>
    <div class="menu-section" *ngIf="navigationLinks?.length">
        <div class="menu-item" *ngFor="let item of navigationLinks">
            <button>{{item.label}}</button>
        </div>
    </div>
</div>
<div class="menu-icon" (click)="menuOpen = !menuOpen" [ngClass]="{'open': menuOpen}">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>