:host {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#map-control-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
