#socket-error-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: green;
    button {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}