<div class="editor-modal">
    <div class="header">
        <button (click)="close()">X</button>
    </div>
    <div class="content">
        <input type="checkbox" id="traversable" name="traversable" [(ngModel)]="cell.traversable">
        <label for="traversable">Traversable</label>
        <input type="checkbox" id="hasStairs" name="hasStairs" [(ngModel)]="cell.hasStairs">
        <label for="hasStairs">Stairs</label>
        <input type="checkbox" id="hasEvent" name="hasEvent" [(ngModel)]="cell.hasEvent">
        <label for="hasEvent">Event</label>
        <input *ngIf="cell.hasEvent" type="text" id="eventDetails" name="eventDetails" [(ngModel)]="cell.eventDetails">
        <label *ngIf="cell.hasEvent" for="eventDetails">Details</label>
        <div class="doors">
            <div class="up">
                <input type="checkbox" id="north" name="north" [(ngModel)]="cell.doors.north">
                <label for="north">North</label>
            </div>
            <div class="right">
                <input type="checkbox" id="east" name="east" [(ngModel)]="cell.doors.east">
                <label for="east">East</label>
            </div>
            <div class="down">
                <input type="checkbox" id="south" name="south" [(ngModel)]="cell.doors.south">
                <label for="south">South</label>
            </div>
            <div class="left">
                <input type="checkbox" id="east" name="east" [(ngModel)]="cell.doors.east">
                <label for="east">East</label>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>