<div class="dice-selction">
    <div class="dice-container 20">
        <app-d20></app-d20>
    </div>
    <div class="dice-container 12">
        <app-d12></app-d12>
    </div>
    <div class="dice-container 10">
        <app-d10></app-d10>
    </div>
    <div class="dice-container 10-2">
        <app-d10 [tensPlace]="true"></app-d10>
    </div>
    <div class="dice-container 8">
        <app-d8></app-d8>
    </div>
    <div class="dice-container 6">
        <app-d6></app-d6>
    </div>
    <div class="dice-container 4">
        <app-d4></app-d4>
    </div>
</div>