.stage {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@mixin rect($width, $height, $depth) {
  & {
    width: $width;
    height: $height;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: left;
  }

  .side {
    position: absolute;
    background: rgba(50, 60, 50, 0.7);
    transform-origin: left top;
  }

  .side:nth-of-type(1) {
    width: $width;
    height: $height;
    transform: translatez(0);
  }
  .side:nth-of-type(2) {
    width: $width;
    height: $height;
    transform: translatez($depth);
  }
  .side:nth-of-type(3) {
    width: $depth;
    height: $height;
    transform: translatez($depth) rotatey(90deg);
  }
  .side:nth-of-type(4) {
    width: $depth;
    height: $height;
    transform: translatex($width) rotatey(-90deg);
  }
  .side:nth-of-type(5) {
    width: $width;
    height: $depth;
    transform: translatey($height) rotatex(90deg);
  }
  .side:nth-of-type(6) {
    width: $width;
    height: $depth;
    transform: rotatex(90deg);
  }
}

@mixin cube($size) {
  @include rect($size, $size, $size);
}

.rect {
  @include rect(80px, 80px, 20px);
  margin: 0 auto;
}

.cube {
  @include cube(80px);
  margin: 0 auto;
}
