<div class="stage">
    <!-- <div class="cube">
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
    </div> -->
    <div class="rect">
        <!-- Bottom -->
        <div class="side"></div> 
        <!-- Top -->
        <div class="side"></div>
        <!-- Left -->
        <div class="side" [hidden]="!shouldShowWall(mapCell.getWestNeighbor())"></div>
        <!-- Right -->
        <div class="side" [hidden]="!shouldShowWall(mapCell.getEastNeighbor())"></div>
        <!-- South -->
        <div class="side" [hidden]="!shouldShowWall(mapCell.getSouthNeighbor())"></div>
        <!-- North -->
        <div class="side" [hidden]="!shouldShowWall(mapCell.getNorthNeighbor())"></div>
    </div>
</div>