$cellWallSize: 80px;

.grid-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .grid {
    @keyframes spin {
      100% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
      }
    }
    // animation:spin 10s linear infinite;

    position: absolute;
    box-sizing: border-box;
    transform-style: preserve-3d;
    .row {
      // float: left;
      border-color: black;
      &:last-of-type {
        .cell {
          border-bottom: 1px solid;
        }
      }
      .cell {
        float: left;
        border-color: black;
        border-top: 1px solid;
        border-left: 1px solid;
        box-sizing: border-box;
        height: $cellWallSize;
        width: $cellWallSize;
        transform-style: preserve-3d;

        &:last-of-type {
          border-right: 1px solid;
        }
      }
    }
  }
}
